<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <!DOCTYPE html>
  <html class="site-full-height">
  <head>
    <%= render 'layouts/head' %>
  </head>
  <body class="site-top site-full-height">
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="masthead clearfix">
            <div class="inner">
              <%= link_to "mini tw", root_path, id: "logo", class: "masthead-brand" %>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><%= link_to "Home", root_path %></li>
                  <li><%= link_to "Help", help_path %></li>
                  <li><%= link_to "Log in", login_path %></li>
                </ul>
              </nav>
            </div>
            <% flash.each do |message_type, message| %>
              <div class="alert alert-<%= message_type %>"><%= message %></div>
            <% end %>
          </div>
          <div class="inner cover">
            <h1 class="cover-heading">Welcome to Mini Tw</h1>
            <p class="lead">Connect with your friends and other fascinating people. Get updates on the things that interest you. You are in control!</p>
            <p class="lead">
              <a class="btn btn-lg btn-primary" href="/signup">Sign up now!</a>
            </p>
          </div>
          <div class="mastfoot">
            <div class="inner">
              <nav>
                <ul>
                  <li><a href="/about">About</a></li>
                  <li><a href="/contact">Contact</a></li>
                  <li><a href="http://weblog.rubyonrails.org/">News</a></li>
                </ul>
              </nav>
              <small>
                Based on <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
              </small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  </html>
<% end %>